<div class="menu-container">

<div class="menuBackgroundRed">

  <h1 id ="special-li">
    Menu
  </h1>
    <ul>


      <li>
        <div id="button" onclick="location.href='#!/events'">
        Events
      </div>
      </li>

      <li>
        <div id="button" onclick="location.href='#!/groups'">
        Groups
      </div>
      </li>

      <li>
        <div id="button" onclick="location.href='#!/profile'">
        Profile
      </div>
      </li>


      <li>
        <div id="button" onclick="location.href='#!/login'">
        Log out
      </div>
      </li>

    </ul>

  </div>
</div>
