body {
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: -200px;
  font-family: 'Montserrat', sans-serif;
}



.create-event-window ul {
  max-height: 20px;
  overflow-y: scroll;
}

.mapInfoWindow {
  word-wrap: normal;
  font-family: 'Montserrat', sans-serif;

}

.mapInfoWindow p {
  text-align: center;
  font-size: 100%;
  padding: 4%;
  max-height: 10%;
  overflow-y: scroll;
  font-style:italic;
  /*border-bottom: 1px solid black;*/
}

.mapInfoWindow h1 {
  font-weight: bold;
  font-size: 200%;
}

#div-ul {
  max-height: 170px;
  overflow-y: scroll;
  font-size: 10pt;
  margin-left: -15%;
  margin-top: 7%;
  margin-bottom: 13%;
}

.specific_table a {
  font-size: 12pt;
  color: white;
}
.specific_table td, th {
  /*padding-top: -20%;*/
  text-align: left;
  font-size: 12pt;
  /*height: 50px;*/
}
.specific_table{
  /*padding-top: -20%;*/
  /*text-align: left;*/
  margin-right: 13%;
}
.active-table-div {
  margin-left: 10%;
}
#locationEvent p {
  margin-left: 10%;
}



span.logregErrorMessage {
  font-size: 40%;
  color: #EE6A5A;
  text-shadow: 1px 1px black;
  /*line-height: 10%;*/
}

.formsPopup {
  margin-bottom: 10%;
  color: white;
}


.formsPopup input {
  width: 80%;
  height: 50px;
  margin-top: 6%;
  border-style: none;
  border-bottom: 1px solid lightgrey;
  /*font-size:100%;*/
  /*border-radius: 70px;*/
  /*text-align: center;*/
  color: white;
  background-color: #EE6A5A;
}

.formsPopup ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}

.list {
  /*height: 500px;*/
  overflow: scroll;
  background-color: pink;
}

/*#popup-window {
  background-color:#EE6A5A;
}*/

div.dialog-container {
  height: 490px;
  background-color:#EE6A5A;
}

#dialog-window2 {
  background-color:#EE6A5A;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  height: 160px;
}

.forms {
  height: 100%;

}

ul.list.ng-scope {
  /*max-height: 175px;*/
  height: 200px;
  background-color: #EE6A5A;
}

.forms input {
  width: 80%;
  height: 50px;
  margin-top: 6%;
  font-size:100%;
  border-radius: 70px;
  text-align: center;
  color: white;
  background-color: #FFA08A;
}

.list-item__center {
  color: white;
}

.create-button {
  width: 65%;
  text-align: center;
  vertical-align: middle;
  line-height: 230%;
  background-color: #EE6A5A;
  color: white;
  border-radius: 70px;
  font-size: 100%;
  margin: auto;
  margin-top: 12%;
  border-style: solid;
  border-color:white;
  border-width: 2px;
}

#small-glyph-button {
  color:white;
  align-items: right;
}


#groupListingImage {
  width:400%;
}

#groupListingContent {
  margin-top:-2%;

}

.colElementsGROUPS div {
  font-size: 100%;
  /*margin-top:10%;*/
  font-family: 'Montserrat', sans-serif;
  padding: 3%;
  /*font-weight: bold;*/
  line-height: 150%;
  color: white;

  /*vertical-align: middle;*/

}

.colElementsGROUPS span {
  font-size: 160%;

  /*font-weight: bold;*/
  color: white;
  /*margin-top: 75%;*/
}

/*.colElementsGROUPS {
  border: 1px solid #AC2A19;
  border: 75%;
  margin-top: 5%;
  margin-left: 4.17%;
  border-radius: 10px;
  background-color: #FFA08A;
}*/

.colElementsGROUPS {
  /*border: 1px solid #AC2A19;*/
  border: 1px solid white;
  /*border-bottom: 4px solid #FFA08A;*/
  border: 75%;
  margin-top: 5%;
  margin-left: 4.17%;
  border-radius: 25px;
  /*background-color: #FFA08A;*/
  background-color: #EE6A5A;;
  /*box-shadow: 0 0 5px 1px white;*/
  /*opacity: 100%;*/
}

.colElementsGROUPS img {
  /*margin-top: 80%;*/
}

.groupList {
  height: 100%;
  overflow-y: scroll;
  background-image: url('backgroundStandard.jpg');
}

.noGroup {
  height: 100%;
  /*overflow-y: scroll;*/
  background-image: url('backgroundStandard.jpg');
}

.groupIMG {
  /*vertical-align: middle;*/
  margin-top: 60%;
}



#toolbarRightIconMyProfile {
  width:25%;
  margin-top:-8%;
  margin-right:10%;
}

#toolbarRightIconEvents {
  width:30%;
  margin-top:-8%;
  margin-right:10%;
}

#toolbarRightIconGroups {
  width:40%;
  margin-top:-8%;
  margin-right:10%;
}

#titleToolbar {
  background-color: #EE6A5A;
  position:fixed;
}

#centerToolbar {
  margin-left: -7%;
}

#centerToolbar span {
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}



.colElements div {
  font-size: 90%;
  font-family: 'Montserrat', sans-serif;
  padding: 3%;
  line-height: 20%;
  /*vertical-align: middle;*/

}

.colElements span {
  font-size: 200%;
  color: #EE6A5A;
  /*margin-top: 75%;*/
  vertical-align: middle;
}

.colElements {
  /*border: 4px solid #FFA08A;*/
  /*border-bottom: 4px solid #FFA08A;*/
  /*border: 75%;*/
  margin-top: 5%;
  margin-left: 4.17%;
  border-radius: 15px;
  background-color: #FFA08A;
  /*opacity: 100%;*/
}

.colElements img {
  /*margin-top: 80%;*/
  width:60px;
}

#markerImg {
  width:300%;
  height:300%;
  padding:1px;
  border-radius: 0%;
  box-shadow: 0px 0px 0px 0px;
}

.profileEventList {
  /*height: 100%;*/
  height: 90%;
  overflow-y: scroll;
  box-shadow: 0px 0px 0px 0px;
  /*background-image: url('backgroundimage.jpg');*/
}


/*START: WILLES LOGIN OCH REGISTER CSS*/
/*START: WILLES LOGIN OCH REGISTER CSS*/
/*START: WILLES LOGIN OCH REGISTER CSS*/

.menuBackgroundRed form {

  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 200%;
}



.menuBackgroundRed input {
width: 70%;
height: 10%;
/*line-height: 40%;*/
padding:3%;
margin-top: 10%;
font-size:60%;
border-radius: 70px;
text-align: center;
color: white;
background-color: #FFA08A;
border-color: #EE6A5A;
border-width: 0px;
}


#register a {
  color: white;
  font-size: 110%;
}

#register {
  margin-top: 10%;
}

#login a {
  color: white;
  font-size: 110%;
}

#login {
  margin-top: 10%;
}



.menuBackgroundRed h2 {
  font-size: 400%;
  color: white;

}


.sign-in-button {
    /*float: left;*/
    /*height: 200%;*/
    width: 40%;
    padding:3%;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    background-color: #EE6A5A;
    color: white;
    border-radius: 70px;
    font-size: 60%;
    /*margin: auto;*/
    margin-top: 5%;
    border-style: solid;
    border-color:white;
    border-width: 1px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #EE6A5A;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #EE6A5A;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #EE6A5A;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #EE6A5A;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #EE6A5A;
}


.menuBackgroundRed img {
  width: 15%;
  margin-top: 20%;
}

/*SLUT: WILLES LOGIN OCH REGISTER CSS*/
/*SLUT: WILLES LOGIN OCH REGISTER CSS*/
/*SLUT: WILLES LOGIN OCH REGISTER CSS*/


ul.list {
  height:7%;
}


.ui-mobile, .ui-mobile body{
  background:green;
}


.menu-container {
  /*background-color: #333333;*/
  font-family: 'Montserrat', sans-serif;
}
  .menuBackgroundRed ul {
      list-style-type: none;
      margin-left: -40px;
  }


  .menuBackgroundRed li {
      /*float: left;*/
      /*height: 200%;*/
      width: 65%;
      text-align: center;
      vertical-align: middle;
      line-height: 260%;
      background-color: #EE6A5A;
      color: white;
      border-radius: 70px;
      font-size: 150%;
      margin: auto;
      margin-top: 12%;
      border-style: solid;
      border-color:white;
      border-width: 1px;
  }

  #special-li {
    margin-top:20%;
    margin-bottom:5%;
    color: white;
    font-size: 300%;
  }


  .menuBackgroundRed {
    background-image: url('backgroundStandard.jpg');
    background-color: #EE6A5A;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width:100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;

  }


#map {
  background-color: #EE6A5A;
}


.ng-scope {
    height: 100%;
}



.aboutExercise1 {
  background-color:darkred;
  color:white;
}


.listItems {
  font-size:30px;
  background-color: lightgrey;
}


.pageTitle {
  text-align:center;
}

.pageContent {
  /*padding-top:1%;*/
  background-color: #91B2DA;
  color:white;
  font-size:18px;
  width:100%;
  height: 100%;
  padding-top: 40px;
}

.faceImage {
  display:inline-block;
  width:48%;
}

.extraContent {
  background-color: #91B2DA;
  color:white;
  font-size:18px;
  text-align:center;
  padding-bottom:5%;
  /*width:100%;*/
  /*height: 100%;*/
}

.switchText {
  display:inline-block;
  font-weight: bold;
  padding-right:10%;
  padding-top:5%;
}

.switchButton {
  display:inline-block;
}


.title {
  background-color: #4783cc;
  font-size:20px;
  font-family: arial;
  height:70px;
  padding-top: 12px;
  padding-left: 15px;
  /*padding:3%;*/
}


.aboutExercise1 {
  background-color:darkred;
  color:white;
}


.listItems {
  font-size:30px;
  background-color: lightgrey;
}


.pageTitle {
  text-align:center;
}

.pageContent {
  /*padding-top:1%;*/
  background-color: #91B2DA;
  color:white;
  font-size:18px;
  width:100%;
  height: 100%;
  padding-top: 40px;
}

.faceImage {
  display:inline-block;
  width:48%;
}

.extraContent {
  background-color: #91B2DA;
  color:white;
  font-size:18px;
  text-align:center;
  padding-bottom:5%;
  /*width:100%;*/
  /*height: 100%;*/
}

.switchText {
  display:inline-block;
  font-weight: bold;
  padding-right:10%;
  padding-top:5%;
}

.switchButton {
  display:inline-block;
}




/*START: WILLE PETTER PROFIL CSS*/
/*START: WILLE PETTER PROFIL CSS*/
/*START: WILLE PETTER PROFIL CSS*/



.profileBackgroundRed {
  background-image: url('backgroundStandard.jpg');
  background-color: #EE6A5A;
  min-height: 100%;
  width: 100%;
  /*min-width: 100%;*/
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width:100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  overflow-y: scroll;
  word-wrap: normal;
}


.profileBackgroundRed ul {
    list-style-type: none;
    margin-left: -40px;
    font-size: 300%;
    /*max-height: 15%;*/
    /*overflow-y: scroll;*/
}


.profileBackgroundRed table {
  font-size: 300%;
  /*margin-left: 15%;*/
  align: center;
  color: white;
  overflow-y: scroll;
}
.profileBackgroundRed td {
padding-right: 45px;
padding-top: 25px;
}


.profileBackgroundRed li {
    margin-top: 2%
}
.profileBackgroundRed form {

/*font-family: 'Montserrat', sans-serif;*/
font-size: 400%;
}

.profileBackgroundRed input {
width: 60%;
height: 10%;
margin-top: 10%;
font-size:100%;
border-radius: 70px;
text-align: center;
color: white;
background-color: #FFA08A;
border-color: #EE6A5A;
border-width: 2px;

}
/*.list {
  max-height: 175px;
  overflow: scroll;
  /*background-color: #EE6A5A;*/
}*/

/*#popup-window {
  height: 500px;
}*/

div.dialog-container {
  height: 420px;
  background-color:#EE6A5A;
}

#dialog-window {
  background-color:#EE6A5A;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  height: 160px;
}

.forms {
  height: 100%;

}

ul.list.ng-scope {
  /*height: 60px;*/
  background-color: #EE6A5A;
}

.forms input {
  width: 80%;
  height: 50px;
  margin-top: 6%;
  font-size:100%;
  border-radius: 70px;
  text-align: center;
  color: white;
  background-color: #FFA08A;
}

.list-item__center {
  color: white;
}

.create-button {
  width: 65%;
  text-align: center;
  vertical-align: middle;
  line-height: 230%;
  background-color: #EE6A5A;
  color: white;
  border-radius: 70px;
  font-size: 100%;
  margin: auto;
  margin-top: 12%;
  border-style: solid;
  border-color:white;
  border-width: 2px;
}

#small-glyph-button {
  color:white;
  align-items: right;
}




.profileBackgroundRed h1 {
  font-size: 200%;
  color: white;
  margin-top: 8%;
  font-weight: normal;

}
.profileBackgroundRed h2 {
  font-size: 120%;
  color: white;
  margin-top: -2%;
    font-weight: normal;

}
.profileBackgroundRed p {
  font-size: 100%;
  color: white;
  margin-top: 6%;
  width:90%;
  margin-left: 5%;

}
.profileBackgroundRedGroup p  {
  font-size: 100%;
  color: white;
  /*margin-top: 6%;*/
  width:90%;
  margin-left: 5%;
  opacity: 100%;

}
.profileBackgroundRedGroup a  {
  font-size: 100%;
  color: white;
  /*margin-top: -50%;*/
  width:90%;
  /*margin-left: 5%;*/
  opacity: 100%;

}


.profileBackgroundRed img {
  width: 35%;
  margin-top: 10%;
  border-radius: 50%;
  box-shadow: 0px 0px 100px 40px #FFA08A;

}



/* GAMMAL CSS NEDAN*/


.profile-container {
  /*background-color: #333333;*/
  font-family: 'Montserrat', sans-serif;
}
/*SLUT: WILLE PETTER PROFIL CSS*/
/*SLUT: WILLE PETTER PROFIL CSS*/
/*SLUT: WILLE PETTER PROFIL CSS*/












/* FÄRGER


 #DC5959; ljusröd som används vid close


*/


#create-group {
  padding-bottom: 10px;
  padding-top: 25px;
}
#create-textarea {
  padding-bottom: 10px;
}

#close {
  background-color: #DC5959;
}


ons-button.windowbutton {
  width:200px;
}

#login-button{
  background-color:red;
  width:200px;

}

.switcheroo-link {
  padding-top: 20px;
}

.dialog {
  height: 500px;
  text-align: center;
}

#dialog-login {
  height: 310px;
}

#dialog-register {
  height: 385px;
}

.create-dialog {
  height: 330px;
  text-align: center;
}

#event-list-item {
  background-color: transparent;
}

#event-list {
  /*height: 205px;*/
  max-height: 205px;
  overflow: scroll;
}

#dialog-window {
  background-color:white;
  text-align: center;
  padding: 10px;
  /*height: 830px;*/
}

#small-glyph-button {
  padding: 10px;
}


#login-form {
  padding:10px;
}

.textarea {
  height:50px;
  font-size: 14pt;
  vertical-align:bottom;
  line-height:37px;
}

#loginbutton {
  padding-top:10px;
}

#dialog-header {
  word-wrap: normal;
  padding-bottom: 10px;
  font-weight:bold;
}

#profile-page > h1 {
  text-align:center;
}

#profile-page > h2 {
  text-align:center;
}
#profile-page > p {
  color:grey;
}

#specificGroup {
  height: 5%;
  width: 40%;
  margin-left: 29%;
}

.profileBackgroundRed h1 {
  border-top: black;
  /*background-color: #FFA08A;*/
  /*color: #EE6A5A;*/
  font-size: 14pt;
  width: 100%;
  padding-bottom: 2%;
  padding-top: 2%;


  /*border-bottom: solid white;*/
  /*box-shadow: 0px 20px 2px #FFA08A;*/
}

#special-header {
  font-size: 20pt;
}

.profile-events {
  background-color: #EE6A5A;
  height: 5%;
  margin-left: 4%;
  border-radius: 25px;
  text-align: left;
  border: 1px solid white;
  color:white;
}

.profile-events span {
  color:white;
  margin-top:-100%;
}

.profile-events p {
  margin-top:2%;
}
